/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    padding: 0 2rem;
    position: relative;
}

.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}

.d-flex {
    display: flex;
}

.d-block {
    display: block;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.horizontal-end {
    display: flex;
    justify-content: flex-end;
}

.justify-end {
    justify-content: flex-end
}